# Default ignored files
/.idea/
/.git/
/shelf/
SGE/pom.xml
/workspace.xml
SGE/.idea/
SGE/SGE.iml
SistemaDeGerenciamentoDeEventos.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
